/* CUSTOM PROPS */
:root {
  --primary: #ea625c;
  --text-color: #333;
  --primary-dark: #c9514c;
}


/* FONTS */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(''),
      url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
      url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(''),
      url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
      url("../fonts/roboto-v30-latin-700.woff") format("woff");
}

/* GLOBAL */
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto","Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 2px dashed var(--primary);
  outline-offset: 2px;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* BUTTON */
.button {
  display: inline-block;
  background-color: var(--primary);
  padding: 12px 38px;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--primary-dark);
}

.button:active {
  opacity: 0.6;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-header-container {
  display: flex;
  align-items:center ;
}

.site-header-logo {
  margin-right: auto;
  transition: opacity 0.3s ease;
}

.site-header-logo:hover {
  opacity: 0.8;
}

.site-header-logo:active {
  opacity: 0.6;
}

.site-header-logo-img {
  display: block;
  width: 35px;
  height: 42px;
  object-fit: contain;
}


/* SITENAV */
.sitenav {
  margin-right: 40px;
}

.sitenav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item:not(:last-child) {
  margin-right: 30px;
}

.sitenav-link {
  display: block;
  padding-top: 6px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
  font-size: 15px;
  text-decoration: none;
  color: #333;
  transition: border-bottom 0.3s ease;
}

.sitenav-link:hover {
  border-bottom: 3px solid #333;
}


/* SEARCH */
.search-form-input {
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0;
  border-bottom: 1px solid #333;
}
/* HERO */
.hero {
  padding-bottom: 185px;
  padding-top: 140px;
  border-bottom: 2px solid #ddd;
  background-image: url(../img/watches.jpg);
  background-repeat:no-repeat;
  background-size: 587px 565px;
  background-position: left calc(50% + 550px) bottom;
}


/* LEAD-CTA */
.lead-cta {
  width: 100%;
  max-width: 490px;
}

.lead-cta-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 1.2;
  color: #000;
}

.lead-cta-text {
  margin-top: 0;
  margin-bottom: 30px;
  border-left: 3px solid #888;
  padding-left: 37px;
  color: #777;
}


/* RETINA BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .hero {
    background-image: url("../img/watches@2x.jpg");
  }

  
.article-card {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
}

.article-card-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.article-card-item {
  width: 280px;
  list-style: none;
}

.article-card-item:not(:last-child) {
  margin-right: 80px;
}

.article-card-heading {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.article-card-text {
  margin: 0;
  padding: 0;
}

/* ADDITIONAL-FUNKTION */
.additional-funktion {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;

}

.descriptipon-funktion {
  display: flex;
}

.description-funktion-wrapper {
  width: 490px;
  margin-right: 110px;
}

.description-funktion-heading {
  padding: 0;
  margin: 0;
  margin-top: 177px;
  margin-bottom: 30px;

}

.description-funktion-text {
  width: 450px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 40px;
  border-left: 3px solid #888888;
}

.button {

}

.button-red {
  padding: 12px 90px;
}

/* featur */
.featur {
  background-image: url(../img/runners-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: ;
}

.footer {
  display: flex;
  justify-content: end;
}

.feature-wrapper {

  width: 490px;
}

.feature-wrapper-heading {
  margin: 0;
  margin-top: 240px;
  margin-bottom: 30px;
  padding: 0;
  font-family: "Roboto","Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #FFFFFF;
}

.feature-wrapper-text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 40px;
  border-left:3px solid #fff;
  font-family: "Roboto","Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.button {

}